<div class="container-fluid">
<div class="row">
	<div class="col-md-6 col-lg-6 col-xs-6">
		
		<h4 class="left-block">
			

			<%= image_tag @question.question.description, class: "center-block img-responsive img-thumbnail question-description-image", title: "Complemento" %>
		</h4>
		
		<div class="container-fluid">
		
		<% @question.question.alternatives.sample(@question.question.alternatives.size).each do |alternative|%>
			<div class="container-fluid">
				<div class="input-group question-alternative">
					<span class="input-group-addon">
						<% if @question.answer != nil && @question.answer == alternative%>
							<%= radio_button_tag 'alternative', alternative.id , selected: 'true'%>
						<% else %>
							<%= radio_button_tag 'alternative', alternative.id %>
						<% end %>
					</span>
					<div class="form-control" style="height: auto">
						<%= alternative.title %>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
<% unless @question.question.description.empty? %>
  <%= render 'extra_question' %>
<% end  %>
</div>
</div>
