<div class="container-fluid">

	<%= form_tag '/start_exam' do %>
		<div class="bs-callout bs-callout-info center-block block-form-request-student-identification">
			

			<h4 class="label-form-request-student-identification"> Informe o seu nome: </h4>
			<%= text_field_tag :maker_name, "" , {class: 'center-block field-form-request-student-identification', placeholder: 'Nome do aluno', maxlength: '120' } %>

			<h4 class="label-form-request-student-identification"> Selecione sua sala: </h4>
			<%= select_tag 'division', options_from_collection_for_select(@divisions, "id", "name"), {class: 'center-block field-form-request-student-identification'} %>

			<h4 class="label-form-request-student-identification"> Informe seu identificador: </h4>
			<%= number_field_tag :identifier,0000, {class: 'center-block field-form-request-student-identification'} %>
			
			<%= button_tag "Iniciar Teste", {class: 'center-block btn btn-primary send-form-request-student-identification' }%>
		</div>
	<% end %>
</div>
